.SlideShow{
    height: 415px;
    width: auto;
    overflow: hidden;
    display: flex;
    margin-inline: 7%;
    border-radius: 25px;
    top: 128px;
    margin-bottom: 40px;
    cursor: pointer;
    & img {
        object-fit: cover;
        height: 415px;
        width: 100%;
        position: relative;

    }
    & p{
        display: flex;
        position: absolute;
        top: 485.67px;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        font-size: 24px;
        font-weight: 300;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    &>button{
        all: unset;
        display: flex;
        position: absolute;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        &:nth-of-type(1){
            right: 123.36px;
            top: 330px;
        }
        &:nth-of-type(2){
            left: 123.36px;
            top: 330px;
        }
    }
}

.fa-chevron-left{
    color: white;
    font-size: 50px;
}
.fa-chevron-right{
    color: white;
    font-size: 50px;
}

@media only screen and (max-width: 768px){
    .SlideShow{
        border-radius: 10px;
        &>p{
            top: 450px;
        }
        &>button{
            &:nth-of-type(1){
                right: 100px;
                top: 310px;
            }
            &:nth-of-type(2){
                left: 100px;
                top: 310px;
            }
        }
    }
}

