.SlideShow{
    height: 415px;
    width: 1240px;
    overflow: hidden;
    display: flex;
    margin: auto;
    border-radius: 25px;
    top: 128px;
    margin-bottom: 40px;
    cursor: pointer;
    & img {
        object-fit: cover;
        height: 415px;
        width: 1240px;
        position: relative;

    }
    & p{
        display: flex;
        position: absolute;
        top: 485.67px;
        left: 708px;
        color: white;
        font-size: 24px;
        font-weight: 300;
    }
}

button{
    all: unset;
    display: flex;
    position: absolute;
    &:nth-of-type(1){
        right: 123.36px;
        top: 330px;
    }
    &:nth-of-type(2){
        left: 123.36px;
        top: 330px;
    }
}

.fa-chevron-left{
    color: white;
    font-size: 50px;
}
.fa-chevron-right{
    color: white;
    font-size: 50px;
}

