@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Card{
    height: 340px;
    width: 340px;
    overflow: hidden;
    margin-bottom: 50px;
    border-radius: 10px;;
}
.Card>img{
    height: 340px;
    width: auto;
    object-fit: cover;
}
.Card>p{
    position: relative;
    color: white;
    bottom: 80px;
    left: 20px;
    width: 300px;
    height: 52px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}