.card_wrap{
    display: flex;
    flex-wrap: wrap;
    max-width: 1860px;
    margin-bottom: 60px;
    margin-inline: 7%;
    margin-top: 99px;
    gap: 60px 4%;
}

@media only screen and (min-width: 2240px){
    .card_wrap{
        gap:40px;
    }
}

@media only screen and (min-width: 768px){
    .card_wrap{
        margin-top: 30px;
    }
}