.lodging_info_block{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin-inline: 100px;
    margin-bottom: 24px;
}

.collapse_block{
    display: flex;
    margin-inline: 100px;
    justify-content: space-between;
    gap: 96px;
}