@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

header{
    display: flex;
    width: auto;
    height: 68px;
    margin-inline: 7%;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
}
ul>li{
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FF6060; 
}
.active{
    text-decoration: underline;
    color: #FF6060;
}
a{
    color: #FF6060;
    text-decoration: none;
}

@media only screen and (max-width: 768px){
    header{
        align-items: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 525px){
    header>img{
        width: 145px;
    }
    ul>li{
        font-size: 18px;
        margin-left: 15px;
    }
}