@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes midRotate{
    from{
        transform: rotate(0deg)
    }

    to{
        transform: rotate(180deg);
    }
}

.collapser_block{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleButton_block{
    background-color: #FF6060;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    & p{
        padding: 13px 0 13px 20px;
        margin: 0;
        text-align: center;
    }
    & button{
        position: unset;
        align-items: center;
        padding: 14px 20px 14px 0;
    }
}

.collapser_div{
    color: #FF6060;
    padding: 0 12px 53px 20px;
    display: flex;
    flex-direction: column;
    &>li{
        list-style: none;
    }
}