@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.BannerDiv{
    height:223px;
    margin-inline: 100px;
    margin-top: 63px;
    overflow: hidden;
    border-radius: 25px;
}
.BannerDiv>img{
    width: 100%;
    position: relative;
    top: -340px;
    filter: brightness(0.7);
}
.BannerDiv>p{
    position:absolute;
    margin: auto;
    height: 68px;
    width: 705px;
    left: 373px;
    top: 249px;
    color: white;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}